* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    background-color: black;
}

.header-container {
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img-container {
    margin-left: 10px;
}

.logo-img {
    height: 50px;
}

a, a:hover, a:focus, a:active {
    text-decoration: underline;
    color: inherit;
}

.mission-container {
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./imgs/img-mission-background.webp");
    background-repeat: no-repeat;
}

.mission-statement-container {
    background: black;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tea-of-the-month-container {
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.tea-of-the-month-header {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
